@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <table>
        <tr>
            <th>CustomaeID</th>
            <th>CompanyName</th>
            <th>ContactName</th>
        </tr>
    </table>
</div>
